/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --primary_color: #ffffff;
    --btn_thumb_color: #f0c043;
    --hover_btn_color: #69688c;
}

/*****************************************************
CSS "Vue Slider"
*****************************************************/

body {
    background-image: linear-gradient(to right, #173DA6, #2A81BF);
}

.slider {
    width: 1000px;
    height: 600px;
}

.slides_container {
    width: 850px;
    height: 100%;
}

.thumbs_container {
    width: 150px;
    height: 100%;
}

.thumb {
    width: 100%;
    height: calc(100% / 6);
    opacity: 0.5;
}

.thumb.active {
    display: block;
    opacity: 1;
    border: 2px solid var(--primary_color);
    padding: 15px;
    background-color: var(--btn_thumb_color);
}

button {
    z-index: 1000;
    border-style: none;
    background-color: var(--btn_thumb_color);
    color: var(--primary_color);
}

button:hover {
    background-color: var(--hover_btn_color);
}