body {
    background-image: linear-gradient(to right, #8EA3BF , #73563D, #8EA3BF);
}

.slider {
    width: 1000px;
    height: 600px;
}

.slides_container {
    width: 800px;
    height: 100%;
}

.thumbs_container {
    width: 200px;
    height: 100%;
}

.thumb {
    width: 100%;
    height: calc(100% / 3);
    opacity: 0.5;
}

.thumb.active {
    display: block;
    opacity: 1;
    border: 2px solid white;
    padding: 10px;
}

button {
    z-index: 1000;
    border-style: none;
    padding: 12px;
    background-color: #283959;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: #69688C;
}